.genre-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed; /* stickyからfixedに変更 */
    top: 95px; /* ナビゲーションバーの高さに応じて調整 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    border-radius: 30px;
    width: fit-content;
    transition: all 0.3s ease;
}

.genre-button {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(204, 204, 204, 0.8);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #333;
}

.genre-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.genre-button.active {
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark .genre-filter {
    background-color: rgba(31, 31, 31, 0.7);
}

.dark .genre-button {
    background-color: #3b3b3b;
    border-color: rgba(80, 80, 80, 0.8);
    color: #e0e0e0;
}

.dark .genre-button:hover {
    background-color: #404040;
}

.dark .genre-button.active {
    background-color: #505050;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}