.header {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 5%; 
    transition: 0.5s;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
}

.dark {
    background: #000;
    color: #fff;
}

.logo {
    width: 220px;
    cursor: pointer;
}

.searchBox {
    flex: 1;
    display: flex;
    height: 50px;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
    max-width: 400px;
    margin: 0 20px;
}

.searchBox input {
    flex: 1;
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    min-width: 0;
}

.searchBox input::placeholder {
    color: #fff;
}

.searchIconContainer {
    cursor: pointer;
}

.settingsButton {
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, filter 0.3s ease;
        border: none !important;
    outline: none !important;
}

.settingsButton:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}


.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userAvatar {
    border-radius: 50%;
}

.userIcon {
    font-size: 24px;
}

.displayName{
    font-size: 17px;
}

.menuIcon {
    margin-right: 10px;
    font-size: 20px;
}

.dark .searchBox {
    background: #fff;
}

.dark .searchBox input {
    color: #222;
}

.dark .searchBox input::placeholder {
    color: #222;
}