.header {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 5%; 
    transition: 0.5s;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.dark {
    background: #000;
    color: #fff;
}

.logo {
    width: 220px;
    cursor: pointer;
}

.searchBox {
    flex: 1;
    display: flex;
    height: 50px;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
    max-width: 400px;
    margin: 0 20px;
}

.searchBox input {
    flex: 1;
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    min-width: 0;
}

.searchBox input::placeholder {
    color: #fff;
}

.searchBox img {
    width: 20px;
    cursor: pointer;
}

.navButtons {
    display: flex;
    align-items: center;
}

.logoutButton,
.themeToggleButton {
    font-size: 50px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logoutButton:hover,
.themeToggleButton:hover {
    transform: scale(1.1); 
    filter: brightness(1.2);
}

.verticalDivider {
    width: 4px;
    height: 30px;
    background: #000000;
    border-radius: 15px;
    margin: 0 14px;
}

.dark .searchBox {
    background: #fff;
}

.dark .searchBox input {
    color: #222;
}

.dark .searchBox input::placeholder {
    color: #222;
}

.dark .verticalDivider {
    background: #ffffff;
}

.dark .logoutButton:hover,
.dark .themeToggleButton:hover {
    filter: brightness(1.5); 
}