.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 5%; 
    transition: 0.5s;
    box-sizing: border-box;
        position: fixed; /* 固定位置に設定 */
    top: 0; /* 画面の上端に配置 */
    left: 0; /* 画面の左端に配置 */
    z-index: 1000; /* 他の要素より前面に表示 */
}


.logo {
    width: 220px;
    cursor: pointer;
}

.search-box {
    display: flex;
    height: 50px;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 19px;
    max-width: 200px;
}

.search-box input::placeholder {
    color: #fff;
}

.search-box img {
    width: 20px;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.logout-button,
.theme-toggle-button {
    font-size : 50px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logout-button:hover,
.theme-toggle-button:hover {
    transform: scale(1.1); 
    filter: brightness(1.2);
}

.vertical-divider {
    width: 4px;
    height: 30px;
    background: #000000;
    border-radius: 15px;
    margin: 0 14px;
}

.dark .header {
    background: #000;
    color: #fff;
}

.dark .search-box {
    background: #fff;
}

.dark .search-box input {
    color: #222;
}

.dark .search-box input::placeholder {
    color: #222;
}

.dark .vertical-divider {
    background: #ffffff;
}

.dark .logout-button:hover,
.dark .theme-toggle-button:hover {
    filter: brightness(1.5); 
}