.container {
    min-height: 100vh;
    padding-top: 4rem;
    transition: background-color 0.3s, color 0.3s;
}

.darkContainer {
    background-color: #2E2E2E;
    color: white;
}

.lightContainer {
    background-color: #EBEBEB;
    color: black;
}

.content {
    display: flex;
    padding: 2rem;
    height: calc(100vh - 4rem);
}

.memoArea {
    width: 70%;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customArea {
    width: 26%;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-y: auto;
    transition: background-color 0.3s;
}

.divider {
    width: 1px;
    background-color: transparent;
    margin: 0 1rem;
}

.darkCustomArea {
    background-color: #3E3E3E;
}

.lightCustomArea {
    background-color: #F8F8F8;
}

.emptyStateButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.darkEmptyStateButton {
    background-color: #3E3E3E;
    color: white;
}

.lightEmptyStateButton {
    background-color: #F8F8F8;
    color: black;
}