.searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 80%;
}

.searchBarContent {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.searchInputWrapper {
    position: relative;
    width: 85%;
}

.searchInput {
    padding-right: 2.5rem;
    border-radius: 0.75rem;
    border: none;
}

.searchIcon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.searchToggleLabel {
    width: 100%;
    text-align: left;
    margin-top: 0.25rem;
}